header{
    background: white;
    padding: 0;
    /* border-bottom: 1px solid #191970; */
}

.logo img {
    position: relative;
    left: 100px;
    top: -65px;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
}

a{
    color: #000000;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: inline-block;
    position: relative;
    list-style-type: none;
    margin: 0;
    top: -10px;
}

nav ul li a{
    padding: 1em;
    display: inline-block;
}

.search {
    position: relative;
    padding-bottom: 20px;
}

.search-bar {
    padding-right: 30px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
}

.result-container {
    margin-top: 20px;
}

.result-item {
    display: block;
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    top: -30px;
}

.result-item h3 {
    margin-top: 0;
}

.result-item p {
    margin-bottom: 0;
}

/* .search-button {
    background: linear-gradient(to right, #FFFFFF, #000000);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
} */

.dropdown {
    position: relative;
    display: inline-block;
    top: -55px;
}

.cart {
    display: inline-block;
    position: relative;
    font-weight: bold;
    padding: 25px;
    top: 8px;
    left: 725px;
}

.cart_img {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    top: -175px;
    left: 165px;
}

.profile_img {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    top: -175px;
    left: 85px;
}

.search_container {
    position: relative;
    display: inline-block;
}

.search_img {
    position: absolute;
    top: -25px;
    right: 25px;
    width: 25px;
    height: 25px;
}


.cart {
    padding: 25px;
}

.dash {
    position: absolute;
    color: #000000;
    top: -45px;
    right: -125px;
}

.dropdown-content {
    background-color: whitesmoke;
    display: none;
    position: absolute;
    min-width: 160px; 
    z-index: 1;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}                                                                                                                                                                                                                  

.dropbtn {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.dropbtn:hover {
    color: #FFFFFF;
    background-color: #000000;
}

.options a {
    color: #000000;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0);
    width: 100%;
    font-weight: bold;
}

.options a:hover {
    color:#FFFFFF;
    background-color: #000000;
    width: 100%;
}

.navbar {
    display: inline-block;
    position: relative;
    top: 50px;
}

.search-bar {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    top: -5px;
}

/* .result-container {
    margin-top: 20px;
} */

.result-item {
    border: 1px solid #ccc;
    /* padding: 10px;
    margin-bottom: 10px; */
    background-color: #f9f9f9;
}

.result-item h3 {
    margin-top: 0;
}

.result-item p {
    margin-bottom: 0;
}

button {
    background: linear-gradient(to right, #87CEEB, #191970);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.banner-container {
    display: flex;
    height: 200px; 
  }
  
  .banner1, .banner2 {
    flex: 1;
  }
  
  .banner1 img, .banner2 img {
    width: 100%; 
    object-fit: cover; 
  }